@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
:root{
    --soft-red:hsl(10, 79%, 65%);
    --cyan:hsl(186, 34%, 60%);
    --dark-brown:hsl(25, 47%, 15%);
    --medium-brown:hsl(28, 10%, 53%);
    --cream:hsl(27, 66%, 92%);
    --Very-pale-orange:hsl(33, 100%, 98%);
    --color-black:#000;
    --color-white:#fff;
    --radius:0.938rem;


}
body{
    font-family: "DM Sans",sans-serif; 
    background-color:  var(--cream);
    Font-size: 18px;
    color: var(--color-white);
    min-height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content:center ;
   align-items: center;
   flex-wrap: wrap;
   



}

.main__container{
    
    width: 377px; 
   
    
    margin: auto;
   


}
/*css for header*/
    .main__header{
        background-color:hsl(10, 79%, 65%);
        border-radius: var(--radius);
        padding: 0.938rem;
        margin-bottom:25px;

    }
    .header__content-container{
        display: flex;
        justify-content: space-between;

       


    }
    .content_container-list{
        list-style: none;
        
    }
    .content_container-list> li:last-child{
        margin-top:0.188rem ;
        font-size:1.375rem;
        font-weight: 700;


    }
    .content_container-list> li:first-child{
        font-size:0.813rem;

    }
    .content_container-imgHolder{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .content_container-imgHolder>img{
        width: 75%;

    }


/*end css for header*/
/*coding main part*/
    .main{
        background-color: var(--Very-pale-orange);
        color: var(--color-black);
        border-radius: var(--radius);
        
    }
    .main__container-tag{
        padding: 25px;
    }
    
    .bars__ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        
        align-items: flex-end;

    }
    
    .bars__ul>li>span{
        display:inline-block;
        height: 100px;
        width: 37px;
        background-color: var(--soft-red);
        transition: 0.3s ease;
        border-radius: 6px;
    }
    .bars__ul>li{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
    }
    .small-brown{
        font-size: 12px;
        color: var(--medium-brown);
        
    }
    .container_text{
        margin-bottom: 40px;
        
        

    }
    .container_text>h1{
        font-weight: 700;
        color: var(--dark-brown);
        font-size: 1.5rem;
    }
    .bars__ul>li>span:hover{
        opacity: 0.75;

    }
    .border{
        margin: 25px 0;
        background-color: var(--medium-brown);
        opacity: 0.1;
        
    }
    .bars__ul>li>i{
        position: absolute;
        background-color: var(--dark-brown);
        border-radius: 5px;
        color: white;
        padding: .2rem;
        font-size: 12px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 400;
        
        /* display: none;  */
        /* animation-name:price-effect ;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; */

        
    }
    @keyframes price-effect{
        from{opacity: 0;transform: translateY(0);}
        to{opacity: 1;transform: translateY(-150%);}

    }
    .bars__ul>li>span:hover+i{
        display: flex;
        
    }
    .bars-hover{
        animation-name:price-effect ;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    .bars-unhover{
        animation-name:price-effect-fade ;
        animation-duration: 0.2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in;
    }
    @keyframes price-effect-fade{
        from{opacity: 1;transform: translateY(-150%)}
        to{opacity: 0;transform: translateY(0); display: none;}
    }
    



/*end coding main part */
/*code footer of the page*/

    .result__container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

    }
    .result__container>ul:first-child>li:last-child{
       font-size: 2.1rem;
       font-weight: 700;
       color: var(--dark-brown);
    }
   
    .result__container>ul:last-child>li:first-child{
        color: var(--dark-brown);
        font-weight: 400;
        font-size: 16px;

       
    }
   


    







/* end footer end of the page*/
@media (max-width:377px) {
    .main__container{
        width: 340px;

    }
    
}